<form>
    <div class="mb-3">
      <label for="quote" class="form-label">quote</label>
      <input type="text" class="form-control" id="quote" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">author</label>
      <input type="text" class="form-control" id="author">
      <label for="name" class="form-label">username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>